@charset "UTF-8";



header{
    width: 100vw;
    background-color: lightblue;
    border-bottom: 3px solid rgba(0, 0, 0, 0.472);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.569);

}


#msg{
    font-size: 3em;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 5px;
}